.bordered-section {
    border: 1px solid #000; /* You can customize border styles as needed */
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.295);
    padding: 5px 8px;
    margin: 5px;
}

.edit {
  border: 1px solid #000; /* You can customize border styles as needed */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.884);
  padding: 5px 8px;
  margin: 5px;
}

.edit-bio {
  border: 1px solid #000; /* You can customize border styles as needed */
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.884);
  padding: 5px 8px;
  margin: 5px;
  width: 100%;
}

.profile-avatar {
  margin: 3px;
}

.profile-username {
  margin-top: 10px;
}

.profile-email {
  margin-top: 10px;
}

.profile-password {
  margin-top: 10px;
}

.upload-image {
    background: rgb(220, 215, 201);
    border-radius: 10px;
    padding: 5px 10px;
    border: 1px solid rgb(162, 123, 92);
  }

  .upload-image:hover {
    background-color: rgb(207, 195, 160);
  }
  
  .change-password {
    background: rgb(220, 215, 201);
    border-radius: 10px;
    border: 1px solid rgb(162, 123, 92);
  }
  
  .change-password:hover {
    background-color: rgb(207, 195, 160);
  }
  
  .edit-button {
    background-color: rgb(220, 215, 201);
    color: black;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px, 5px;
    border: 1px solid rgb(162, 123, 92);
  }
  
  .edit-button:hover {
    background-color: rgb(207, 195, 160);
  }

  .save-button {
    background-color: rgb(72, 190, 78);
    color: black;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
  }
  
  .save-button:hover {
    background-color: rgb(111, 204, 116);
  }

  .cancel-button {
    color: black;
    border-radius: 10px;
    cursor: pointer;
    margin: 10px;
  }

  .success-message {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px;
    text-align: center;
  }

.password-change-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Adjust the z-index as needed */

    /* Style the modal content */
    .modal-content {
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        width: 600px;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    input {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
    }

    button {
        padding: 10px 20px;
        background-color: #007BFF;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin: 5px;
    }
}

/* Remove the list bullet point */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Reduce the gap between items in the list */
ul li {
    margin-bottom: 1px;
    margin-top: 1px;
    padding: 0;
}

/* Style for the fulfilled requirements */
.fulfilled::before {
    content: '\2713'; /* Check mark symbol */
    color: green;
    margin-right: 5px;
}

/* Style for the unfulfilled requirements */
.unfulfilled::before {
    content: '\2717'; /* Cross mark symbol */
    color: red;
    margin-right: 5px;
}

.error-message {
    background-color: #cf0000; /* Green background color */
    color: white; /* White text color */
    padding: 10px;
    text-align: center;
}
