.bordered-section {
    border: 1px solid #000; /* You can customize border styles as needed */
    border-radius: 10px;
    background-color: white;
    padding: 5px 8px;
}

.upload-image {
    background: goldenrod;
    border-radius: 10px;
    padding: 5px 10px;
  }

  .upload-image:hover {
    background-color: rgb(241, 197, 85);
  }
  
  .change-password {
    background: goldenrod;
    border-radius: 10px;
  }
  
  .change-password:hover {
    background-color: rgb(241, 197, 85);
  }
  
  .edit-button {
    background-color: goldenrod;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    padding: 5px, 5px;
  }
  
  .edit-button:hover {
    background-color: rgb(241, 197, 85);
  }

  .save-button {
    background-color: rgb(72, 190, 78);
    color: black;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .save-button:hover {
    background-color: rgb(111, 204, 116);
  }

  .cancel-button {
    color: black;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  }

  .success-message {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px;
    text-align: center;
  }