General styling
body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(63, 78, 79);;
    color: #333;
    line-height: 1.6;
  }
  
  /* Navigation bar styling */
  .navBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(63, 78, 79);;
    padding: 10px 0;
    border-radius: 10px;
  }
  
  .navBar button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #555;
    color: rgb(220, 215, 201);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navBar button:hover {
    background-color: #777;
  }
  
  /* Tooltip styling */
  .profiletooltip, .advancedtooltip, .discussiontooltip {
    position: relative;
    display: inline-block;
  }
  
  .profiletooltiptext, .advancedtooltiptext, .discussiontooltiptext {
    visibility: hidden;
    width: 160px;
    background-color: black;
    color: rgb(220, 215, 201);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  }
  
  .profiletooltip:hover .profiletooltiptext, 
  .advancedtooltip:hover .advancedtooltiptext, 
  .discussiontooltip:hover .discussiontooltiptext {
    visibility: visible;
    color: gold;
  }
  
  /* Result container styling */
  .result {
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
  /* Attraction list styling */
  h3 {
    color: #444;
  }
  
  p {
    font-size: 1rem;
  }

  div {
    background-color: white;
  }
  