/* Breadcrumb.css */
  .arrow {
    display: inline;
    margin-left: 15px;
  }
  
  .a {
    text-decoration: none;
    color: rgb(224, 218, 201); 
  }
  
  .a:hover {
    text-decoration: underline;
  }