.discussionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: fit-content;
    min-height: fit-content;
    margin: 0 auto;
    margin-top: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 20px;
}

body {
    background-color: #2C3639;
}

.headertext {
    color: #a27b5c;
    font-size: 50px;
}

.text {
    color: #a27b5c;
    font-size: 16px;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button button {
    margin-right: 15px;
}

.button button:last-child {
    margin-right: 0;
}

.cancel:hover {
    background-color: red;
    color: white;
}

.submit:hover {
    background-color: rgb(62, 202, 62);
    color: white;
}

.searchBar {
    background-color: rgb(171, 171, 171);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    padding: 0;
    border-radius: 20px;
    height: 40px;
}

.inputField {
    border-radius: 20px;
    height: 60px;
    width: fit-content;
    padding: 10px 15px;
    padding-right: 15px;
    border: 0;
}

.choiceGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commentsBox {
    /* margin-top: 25px; */
    flex-grow: 1;  
    overflow-y: auto;  
    text-align: center;
    border-radius: 20px;
    padding: 1rem;
    background-color: #A27B5C;
}

.navBar {
    margin-right: 20px;
    flex-grow: 1;
}

.DiscussionHome {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.threadContainer {
    margin-top: 5sxpx;
    flex-grow: 1;
    /* overflow-y: auto; */
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    border-radius: 20px;
    padding: 1rem;
    background-color: #3F4E4F;
}

.commentsBox {
    margin: 10px;
}

.discussionPost {
    /* display: flex; */
    background-color: #DCD7C9;
    padding: 25px;
    min-height: 1600;
    /* margin-bottom: 20px; */
    border-radius: 20px;
    align-items: flex-start;
    color: #3F4E4F;
}

.authorInfo {
    display: flex;
    font-size: 16px;
    flex-direction: column;
    align-items: center;
    color: #3F4E4F;
}

.fakeAvatar {
    width: 50px;
    height: 50px;
    background-color: #3F4E4F;  /* gray as placeholder */
    border-radius: 50%;
    margin-bottom: 10px;
}

.postTitle {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 10px;
    color: #3F4E4F;
}

.content {
    font-size: 20px;
    margin-bottom: 10px;
    color: #3F4E4F;
}

.metadata {
    /* margin-top: 10px; */
    font-size: 0.9em;
    color: #3F4E4F;  
    margin: 0px;
}

.formActive {
    background-color: transparent;
    padding: 0; 
}

.createNew {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    gap: 10px;
    background-color: #DCD7C9;
}

.createNewBar {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    align-items: center;
    justify-content: flex-start;
    border-radius: 20px;
    gap: 10px;
}

.filter {
    border-radius: 5px;
    border: none;
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #DCD7C9;
}

.errorMsg {
    color: red;
    padding: 10px;
    max-width: fit-content;
    margin-bottom: -10px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(255, 91, 91);
    color: white;
  }

  .parentErr{
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  
  .noDiscussionsMessage {
    border-radius: 20px;
    padding: 20px;
    background-color: white;
    font-weight: bold;
    animation: fadeIn 1s ease-in-out;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .categoryFilterButtons button {
    margin: 10px;
    color: #3F4E4F;
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }

  .categoryFilterButtons {
    display: flex;
    justify-content: center;
  }
  
  .categoryFilterButtons button:not(.selectedButton):hover {
    color: #3F4E4F;
    background-color: #A27B5C;
  }
  
  .selectedButton {
    background-color: #A27B5C; 
    color: #DCD7C9;
  }

  .tagIndicator {
    color: #ffcc00;
    margin-left: 5px;
  }