.discussionForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 55px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f5f5f5;
    text-align: center;
    border-radius: 20px;
}

body {
    background-color: lightgray;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button button {
    margin-right: 15px;
}

.button button:last-child {
    margin-right: 0;
}

.cancel:hover {
    background-color: red;
    color: white;
}

.submit:hover {
    background-color: rgb(62, 202, 62);
    color: white;
}

.inputField {
    border-radius: 20px;
    height: 40px;
    width: 100%;
    padding: 10px 15px;
    padding-right: 15px;
    border: 0;
}

.searchBar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* stretch to full width */
    gap: 20px;
}

.searchBar label {
    font-size: 1.1em;
    color: #555;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.choiceGroup {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.commentsBox {
    margin-top: 25px;
    flex-grow: 1;  
    overflow-y: auto;  
    text-align: center;
    border-radius: 20px;
    padding: 1rem;
    background-color: gray;
}

.DiscussionHome {
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.threadContainer {
    margin-top: 25px;
    flex-grow: 1;  
    overflow-y: auto;  
    text-align: center;
    border-radius: 20px;
    padding: 1rem;
    background-color: gray;
}

.commentsBox {
    margin-top: 20px;
}

.discussionPost {
    display: flex;
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
    align-items: flex-start;
}

.authorInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.fakeAvatar {
    width: 50px;
    height: 50px;
    background-color: #ccc;  /* gray as placeholder */
    border-radius: 50%;
    margin-bottom: 10px;
}

.postTitle {
    font-weight: bold;
    margin-bottom: 10px;
}

.metadata {
    margin-top: 10px;
    font-size: 0.9em;
    color: #888;  /* gray for metadata */
}

.formActive {
    background-color: transparent;
    padding: 0; 
}

.createNew {
    margin-top: 20px;
}
.filter {
    border-radius: 5px;
    border: none;
    margin-top: 5px;
}