.container{
    border: 2px solid rgb(162, 123, 92);
    background: rgba(255, 255, 255, 0.295);
    flex-direction: column;
    width: 100%;
    margin:auto;
    margin-top: 50px;
    border-radius: 10px;
}

.tabs-block{
    display: flex;
    justify-content: center;
}

.tab{
    background: rgba(255, 255, 255, 0.295);
    flex: 1;
    padding: 1px;
    text-align: center;
    border: 1px solid grey;
    border-top: none;
    cursor: pointer;
    position: relative;
    border-radius: 10px;
}

.active-tab{
    border: none;
    background: rgb(220, 215, 201);
  }
  
  .active-tab::after{
    border-bottom: 2px solid rgb(162, 123, 92);
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: initial;
    animation: tab-animation 0.5s;
  }

@keyframes tab-animation{
    from{
        top: 50px;
        left: 0;
        right: 0;
        background: rgb(162, 123, 92);
    }

    to{
        top: 0px;
        right: 0;
        left: 0;
        border-bottom: 2px solid rgb(162, 123, 92);
    }
}

.contents{
    position: relative;
}

.content{
    display: none;
    position: relative;
}

.active-content{
    display: flex;
    flex-direction: column;
    transition: all is ease-in-out;
    animation: content-animation 0.3s;
}

@keyframes content-animation{
    from{
        margin: 0;

    }

    to{
        margin-left: 10px;
    }
}

h2 {
    padding: 1px;
}

h5 {
    padding: 1px;
}

ul {
    padding: 1px;
}

.view {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.share-favorite {
    background-color: rgb(220, 215, 201);
    padding-top: 2px;
    padding-bottom: 2px;
}

.share-button {
    background-color: rgb(220, 215, 201);
    margin-top: 10px;
}

.cancel-button {
    color: black;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  }

  .shareTo-button {
    background-color: rgb(220, 215, 201);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
  }

  .city {
    display: flex;
    flex-direction: column;
  }

  .search {
    display: flex;
    flex-direction: column;
  }