.favs{
    background: rgba(255, 255, 255, 0.295);
    flex-direction: column;
    width: 100%;
    margin:auto;
    border-radius: 10px 10px 30px 30px;
}

.tab-block{
    display: flex;
    justify-content: center;
    width: 100;
}

.tab{
    background: rgba(255, 255, 255, 0.295);
    flex: 1;
    padding: 1px;
    text-align: center;
    cursor: pointer;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-left: 2px;
    margin-right: 2px;
}

.active-tab{
    border: none;
    background: rgb(220, 215, 201);
  }
  
  .active-tab::after{
    border-top: 2px solid rgb(162, 123, 92);
    border-left: 2px solid rgb(162, 123, 92);
    border-right: 2px solid rgb(162, 123, 92);
    border-radius: 10px 10px 0 0;
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background: initial;
    animation: tab-animation 0.5s;
  }

@keyframes tab-animation{
    from{
        top: 50px;
        left: 0;
        right: 0;
        background: rgb(162, 123, 92);
    }

    to{
        top: 0px;
        right: 0;
        left: 0;
        border-bottom: 2px solid rgb(162, 123, 92);
    }
}

.contents{
    position: relative;
}

.content{
    display: none;
    position: relative;
}

.active-content{
    display: block;
    margin: 0;
    padding: 30px;
    transition: all is ease-in-out;
    animation: content-animation 0.3s;
    border: 2px solid rgb(162, 123, 92);
    border-radius: 0 0 30px 30px;
}

@keyframes content-animation{
    from{
        margin: 0;

    }

    to{
        margin-left: 10px;
    }
}

h2 {
    padding: 1px;
}

h5 {
    padding: 1px;
}

ul {
    padding: 1px;
}

.view {
    display: flex;
    flex-direction: column;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.share-favorite {
    background-color: rgb(220, 215, 201);
    padding-top: 2px;
    padding-bottom: 2px;
    border: 1px solid rgb(162, 123, 92);
}

.share-button {
    background-color: rgb(220, 215, 201);
    margin: 5px;
    border: 1px solid rgb(162, 123, 92);
    padding: 10px;
}

.share-cancel {
    color: black;
    border-radius: 10px;
    cursor: pointer;
    margin: 5px;
    border: 1px solid white;
}

.shareTo-button {
    background-color: rgb(220, 215, 201);
    border-radius: 10px;
    cursor: pointer;
    padding-bottom: 0px;
    padding-top: 0px;
    margin: 5px;
    border: 1px solid rgb(162, 123, 92);
}

.city {
    display: flex;
    flex-direction: column;
}

.search {
    display: flex;
    flex-direction: column;
}