.notification-content {
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    background: rgba(255, 255, 255, 0.295);
}

.notifications-list {
    display: flex;
    flex-direction: column; 
}

.not-col {
    display: flex;
    flex-direction: row;  
    justify-content: center;
}

.notification {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    border-radius: 20px;
    border: 1px solid rgb(162, 123, 92);
    background-color: rgb(220, 215, 201);
    width:100%
}


.notification-message {
    padding-top: 10px;
    font-weight: bold; /* Make the sender's name bold */
    color: #555; /* Choose a color for the sender's name */
}

.notification-timestamp {
    font-size: 12px;
    color: #888;
    margin-top: 1px; /* Add space above the timestamp */
}

.removeNote {
    display: flex;
    margin-top: 5px;
    margin-left: 5px;
    border-radius: 20px;
    border: 1px solid rgb(162, 123, 92);
    background-color: rgb(220, 215, 201);
    text-align: center;
    justify-content: center;
    align-items: center;
}

.scrollable {
    max-height: 500px; /* Set your desired maximum height */
    overflow-y: scroll; /* Enable vertical scrolling */
}