.profile-background {
  background: rgb(86, 149, 153);
  display: flex;
  flex-direction: column;
  height: auto;
}

.fav {

}

.profile-page{
  display: flex;
  flex: 1;
  padding: 40px;
  margin: 40px;
  background-color:  rgba(255, 255, 255, 0.295);
  flex-direction: column;
  height: fit-content;
  border-radius: 30px;
}

.navBar{
  justify-content: flex-end;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}

.profile-content{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.profileCard{
  width: 25%;
  background-color:  rgba(255, 255, 255, 0.295);
  border-radius: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.profile-image{
  margin-top: 10px;
  width: fit-content;
  background: white;
  border-radius: 100px;
}

.name{
  margin: 15px 10px 0px 10px;
  width: fit-content;
  
}

.bio{
  width: fit-content;
  margin: 10px;
  text-align: center;
}

.prof-btn {
  align-items: flex-end;
}

.deleteAcct {
  visibility: visible;
  background-color: rgba(255, 84, 84, 0.842);
  margin: 10px;
}

.deleteAcct:hover {
  background-color: rgb(255, 0, 0);
}

.profile-sections{
  background-color:  rgba(255, 255, 255, 0.295);
  padding: 20px;
  border-radius: 30px;
  margin-left: 20px;
  width: 100%;
}

.tabs-block{
  display: flex;
  justify-content: center;
  width: 80;
}

.profile-tab{
  background: rgba(255, 255, 255, 0.295);
  flex: 1;
  padding: 1px;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.active-tab{
  border: none;
  background: rgb(220, 215, 201);
}

.active-tab::after{
  border-top: 2px solid rgb(162, 123, 92);
  border-left: 2px solid rgb(162, 123, 92);
  border-right: 2px solid rgb(162, 123, 92);
  border-radius: 10px 10px 0 0;
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background: initial;
  animation: tab-animation 0.5s;
}

@keyframes tab-animation{
  from{
      top: 50px;
      left: 0;
      right: 0;
      background: rgb(162, 123, 92);
  }

  to{
      top: 0px;
      right: 0;
      left: 0;
      border-bottom: 2px solid rgb(162, 123, 92);
  }
}

.contents{
  position: relative;
}

.content{
  display: none;
  position: relative;
}

.active-content{
  display: block;
  margin: 0;
  padding: 30px;
  transition: all is ease-in-out;
  animation: content-animation 0.3s;
  border: 2px solid rgb(162, 123, 92);
  border-radius: 0 0 30px 30px;
}

@keyframes content-animation{
  from{
      margin: 0;

  }

  to{
      margin-left: 10px;
  }
}

.viewCity-button {
  background: rgb(224, 218, 201);
}

.viewCity-button:hover {
  background-color: rgb(241, 197, 85);
}

.preferences-button {
  background: rgb(224, 218, 201);
}

.preferences-button:hover {
  background-color: rgb(241, 197, 85);
}

.bookmarks {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.favorites {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.disc {
  display: flex;
  flex-direction: row;
}