/* Stylings/ViewCity.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f8fa;
    margin: 0;
    padding: 0;
}

div.container {
    display: flex;
    margin-top: 10px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    /* centers the container */
}

.pageLayout {
    display: flex;
    width: 100%; /* Ensure it takes the full width */
    flex-direction: row;
    position: relative;
}

.header {
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin-bottom: 20px;
    color: #a27b5c;
}

.mainContent {
    flex: 1;
    flex-grow: 1;
    /* take the available space */
    background-color: #3f4e4f;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
    color: #dcd7c9;
}

.sidePanel {
    flex: 1;
    flex-grow: 1;
    width: fit-content;
    color: #dcd7c9;
    background-color: #3f4e4f;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.sidePanel.open {
    transform: translateX(90%);
    width: fit-content;
}

.togglePanelButton {
    /* Styles for the toggle button */
    border-radius: 20px;
    max-width: 100px;
}

.pageLayout.searchLeft .mainContent {
    order: 2;
    margin-left: 300px; /* Offset by the width of the sidePanel */
    flex-grow: 1;
}

.pageLayout.searchLeft .sidePanel {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: fit-content;
    order: 1;
    margin-right: auto; /* Pushes all subsequent elements to the right */
}

.pageLayout.searchRight .mainContent {
    flex-grow: 1;
    margin-right: 300px;
    order: 1;
    margin-right: auto; /* Pushes the sidePanel to the right */
}

.pageLayout.searchRight .sidePanel {
    order: 2;
    position: left;
    width: fit-content;
}

.searchBar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 50%;
    max-height: fit-content;
    /* stretch to full width */
    gap: 20px;
}

.profiletooltip {
    position: relative;
    display: inline-block;
}

.profiletooltip .profiletooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.profiletooltip:hover .profiletooltiptext {
    visibility: visible;
    opacity: 1;
}

.profilebtn {
    visibility: visible;
    border-radius: 20px;
    background-color: #dcd7c9;
    margin: 10px;
}

.profilebtn:hover {
    background-color: #a27b5c;
}

.discussiontooltip {
    position: relative;
    display: inline-block;
}

.discussiontooltip .discussiontooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.discussiontooltip:hover .discussiontooltiptext {
    visibility: visible;
    opacity: 1;
}

.discussionButton {
    visibility: visible;
    border-radius: 20px;
    background-color: #dcd7c9;
    margin: 10px;
}

.advancedtooltip {
    position: relative;
    display: inline-block;
}

.advancedtooltip .advancedtooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.advancedtooltip:hover .advancedtooltiptext {
    visibility: visible;
    opacity: 1;
}

.advancedSearch {
    visibility: visible;
    border-radius: 20px;
    background-color: #dcd7c9;
    margin: 10px;
}

.advancedSearch:hover {
    background-color: #a27b5c;
}

.logouttooltip {
    position: relative;
    display: inline-block;
}

.logouttooltip .logouttooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 80%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.logouttooltip:hover .logouttooltiptext {
    visibility: visible;
    opacity: 1;
}

.logoutbtn {
    visibility: visible;
    background-color: rgba(255, 84, 84, 0.842);
    margin: 10px;
}

.logoutbtn:hover {
    background-color: rgb(255, 0, 0);
}

.button-group {
    display: flex;
    gap: 15px;
}

button {
    align-self: center;
    border-radius: 20px;
    padding: 10px 15px;
    border: none;
    background-color: #dcd7c9;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
    /* subtle grow effect */
}

.submitButton {
    background-color: #dcd7c9;
    color: #2C3639;
}

.clearButton {
    background-color: #a27b5c;
    color: #dcd7c9
}

.queueButton {
    background-color: #2ecc71;
    color: #ffffff;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.map {
    flex: 1; /* Makes the map take all available space after CityModel */
}

.whiteText {
    color: #dcd7c9;
}

label,
input {
  width: 100%;
}

input {
  border-radius: 20px;
  height: 40px;
  width: 100%;
  padding: 10px 15px;
  padding-right: 7px;
  border: 0;
  background-color: #dcd7c9;
}

label {
    color: #a27b5c;
    font: bold;
    font-size: 30px;
}

.recentlyViewedCities {
    width: fit-content;
    /* fixed width for this section */
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* .suggestion:hover {
    background-color: #ecf0f1;
} */

.fav_icon {
    scale: 5;
}

.confirmButton {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    margin-top: 100px; /* Increase the top margin to move the button down */
  
    /* Other styles for the button in its default state */
  }
  
  .confirmButton:hover {
    background-color: #2980b9; /* Change the background color on hover */
    /* Additional styles for the button on hover */
  }

.errorMessage {
    font-size: 1.5rem; 
    color: red;
    margin-top: 20px;
    text-align: center; /* Centering the error message */
}

.verificationBanner {
    background-color: #a27b5c;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

.navBar {
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: #3f4e4f;
    border-radius: 20px;
    padding: 5px;
}

/* Add this to your existing CSS file or create a new one for styles */
.similar-searches {
    /* Add your styles here */
    margin-top: 10px; /* Example margin, adjust as needed */
  }
  
  .similar-searches p {
    font-weight: bold;
  }
  
  .similar-searches ul {
    list-style-type: none;
    padding: 0;
  }
  
  .similar-searches li {
    margin-bottom: 5px;
  }
  
  .similar-searches button {
    background-color: #3498db; /* Example background color, adjust as needed */
    color: #fff; /* Example text color, adjust as needed */
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .similar-searches button:hover {
    background-color: #2980b9; /* Example hover background color, adjust as needed */
  }




  /* Loading.css */
.loading-container {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
  }
  
  .loading-spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }

  .loading-message {
    color: black;
    padding: 20px;

  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
