/* Stylings/ViewCity.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f6f8fa;
    margin: 0;
    padding: 0;
}

div.container {
    display: flex;
    margin-top: 10px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
    /* centers the container */
}

.header {
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    color: #2c3e50;
}

.mainContent {
    flex: 1;
    /* take the available space */
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

.searchBar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    /* stretch to full width */
    gap: 20px;
}

.searchBar label {
    font-size: 1.1em;
    color: #555;
}

.button-group {
    display: flex;
    gap: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 600;
}

button:hover {
    transform: scale(1.05);
    /* subtle grow effect */
}

.submitButton {
    background-color: #3498db;
    color: #ffffff;
}

.clearButton {
    background-color: #e74c3c;
    color: #ffffff;
}

.queueButton {
    background-color: #2ecc71;
    color: #ffffff;
}

.result {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
}

.map {
    flex: 1; /* Makes the map take all available space after CityModel */
}

.recentlyViewedCities {
    width: 300px;
    /* fixed width for this section */
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}

.suggestion {
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

/* .suggestion:hover {
    background-color: #ecf0f1;
} */


.fav_icon {
    scale: 5;
}

.confirmButton {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
    margin-top: 100px; /* Increase the top margin to move the button down */
  
    /* Other styles for the button in its default state */
}
  
.confirmButton:hover {
    background-color: #2980b9; /* Change the background color on hover */
    /* Additional styles for the button on hover */
}
  

.errorMessage {
    font-size: 1.5rem; 
    color: red;
    margin-top: 20px;
    text-align: center; /* Centering the error message */
}

.verificationBanner {
    background-color: red;
    color: white;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
}

.logout {
    background-color: rgb(255, 91, 91);
}