body {
    background-color: lightgray;
}

.searchBar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar label {
    padding-right: 10px;
}

.header {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.renderResults {
    display: flex;
    justify-content: center;
    align-content: center;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    transition: .3s;
    border: solid;
    width: 200px;
}